<!-- wp:template-part {"slug":"header","theme":"valora-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">404 Not Found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Sorry, we couldn't find the page you're looking for.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://valoraresort.bcitwebdeveloper.ca/" data-type="page" data-id="80">Go to Homepage</a></p>
<!-- /wp:paragraph --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"valora-theme","tagName":"footer"} /-->